

.about-us {
  padding-top: 125px;  

  &:li[class^="col"] {
  	padding-left: 0;
  	padding-right: 0;
    display: flex;
    flex-direction: column;
  }

  & > p {
    margin: 0 auto;
    padding-bottom: 45px;
    line-height: 24px;
  }
}

.platforms-table {
  list-style: none;
  font-size: 0;
  padding:0;
  margin-bottom: 0;

  li {
    .image-wrapper {
      height: 205px;
      background: white;
      margin: 0 auto;
      overflow: hidden;

      img {
          margin: 0 auto;
          display: block;
          height: 100%;
          width: auto;
          padding-top: 20px;
          padding-bottom: 10px;
      }
    }

    h3 {
      color:  $second-color;
      font-size: 18px;
      padding-bottom: 15px;
      line-height: 18px;
      min-height: 33px;
    }

    p {
      display: inline-block;
      width: 100%;
      font-family: $caption-font;
      font-weight: 700;
      color: $text-color;
      line-height: 18px;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}

.subscribe-form {
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;

  input[type="text"] {
    display: block;
    width: 230px;
    height: 40px;
    margin: 0 auto 5px;
    border: 1px solid $second-color;
    font-family: $caption-font;
    font-size: 16px;
    @include mobile-sm {
      display: inline-block;
      margin: 0 auto;
    }

    &[placeholder] {
      color:  #7d7b7b;
      line-height: 20px;
      padding: 10px 25px;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }

  .subscribe {
    display: block;
    height: 40px;
    border: none;
    border-radius: 0;
    outline: none;
    margin: 0 auto;
    width: 230px;
    vertical-align: middle;
    background-color:  $second-color;
    font-family: $caption-font;
    color:  #f8f8f8;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    @include mobile-sm {
      display: inline-block;
      width: 135px;
    }

    &:hover
    {
            box-shadow: inset 0 0 0 20px #00898d;
    }
  }

  @include mobile-sm {
      text-align: center;
  }
}

.socials {
  text-align: center;
  padding-bottom: 18px;
  margin-top: auto;

  a {
    display: inline-block;
    border: 2px solid $text-color;
    width: 33px;
    height: 33px;
    color: $text-color;
    font-size: 24px;
    line-height: 36px;
    margin: 0 12px;
  }
}
