body {

}
header, footer, #meet{
	background: #242424;
}
#contact {
	background: #008af0;
}

$font-path: "../../fonts/";
$img-path: "../../img/";
$main-color: #ffffff;
$second-color: #119a9f;
$text-color: #000000;

$caption-font: "PT Sans Caption", Aerial;
$text-font: "Arimo", sans-serif;

$mobile-sm-width: 481px;
$tablet-sm-width: 800px;
$tablet-lg-width: 992px;
$desktop-mid-width: 1024px;
$desktop-large-width: 1200px;

@mixin tablet-sm{
  @media (min-width: #{$tablet-sm-width}) {
    @content;
  }
}

@mixin tablet-lg{
  @media (min-width: #{$tablet-lg-width}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-large-width}) {
    @content;
  }
}
@mixin mobile-sm {
  @media (min-width: #{$mobile-sm-width}) {
    @content;
  }
}

body {
  background-color: $main-color;
  font-family: $text-font;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h3 {
  text-align: center;
  padding-bottom: 50px;
  font-family: $caption-font;
  color:  $text-color;
  font-size: 42px;
  font-weight: 700;
}
p {
  margin: 0;
  font-size: 18px;
}


.container {
  @include desktop-lg {
    width: 1170px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
