.our-work {
  padding: 0 5px;

  @include md {
      padding: 0 0px 50px 0px;
  }

  @include lg {
      padding: 0 0px 110px 0px;
  }

  h2 {
    @include lg {
        padding: 120px 0 105px 0;
    }
  }

  .work-list {
    position: relative;

    &:before {
        position: absolute;
        top: -30px;
        left: calc(50% - 54px);
        content: none;

        @include lg {
              content: url($img-path + 'cubes.png');
        }
    }
  }

  li {
     display: block;
     position: relative;
     line-height: 20px;
     font-size: 18px;
     font-weight: 400;
     text-align: left;
      padding: 0 10px 10px 20px;

     @include lg {
         padding: 0 0 30px 35px;
     }

     &:before {
       content: url($img-path + 'list-style-item.png');
       width: 14px;
       height: 16px;
       position: absolute;
       top: 3px;
       left: 0;
       @include lg {
           left: 15px;
       }
     }
 }
}
