
.video {
  background: url($img-path + "video-bg.png") bottom center no-repeat;
  padding-bottom: 40px;

  @include md {
      padding-bottom: 100px;
  }
  @include lg {
      padding-bottom: 140px;
  }

  h2 {
    color: #1b1b1b;
    @include lg {
        padding: 140px 0 70px 0;
    }
  }  

  p {
    color:  #171717;
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
    margin: 0;

    @include lg {
        padding-top: 60px;
    }

    @include md {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .frame {
    position: relative;
    max-width: 898px;
    max-height: 546px;
  }
}
